@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  h1,
  h3,
  h4,
  span,
  button,
  p {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
@layer utilities {
  .break-keep {
    word-break: keep-all;
  }
  .transition-blue-btn {
    @apply transition hover:scale-105 hover:bg-blue-600 hover:text-white;
  }
  .transition-teal-btn {
    @apply transition hover:scale-105 hover:bg-teal-500 hover:text-white;
  }
}
.text-load-enter,
.text-load-exit,
.canvas-load-enter,
.canvas-load-exit {
  filter: brightness(0.8);
}
.text-load-enter-active,
.text-load-exit-active {
  filter: brightness(1);
  transition: filter 300ms ease-in-out;
}
.canvas-load-enter-active,
.canvas-load-exit-active {
  filter: brightness(1);
  transition: filter 500ms ease-in-out;
}
